body,html{
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee);
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
.col-md-6{
	margin-top: 150px;
	padding: 20px;
	background: white;
}

input[type=text]
{
	margin-top: 15px;
}


button{
	float: left;
	margin-top: 20px;
}

.success{
	border: 3px solid green;
}

.error{
	border: 3px solid red;
}

small{
	color: red;
	font-weight: bold;
	margin: 5px;
	text-align: left;
}
